# ─────────────────────────────────────────
#  WhatsApp Chatbot — Environment Variables
# ─────────────────────────────────────────

# Meta / WhatsApp Cloud API
WHATSAPP_TOKEN=EAALB6ZCeX6O0BRndgiXb0x0joRmMlkU7I5Av6UCCoh3VdpdGGhqt6L3MCkXu1bbU9qwWg3o7ZBVTJw9OAVh3NX26Ust8Jnmq9jlTZAaKgpBPnb8QZBENeDZBZBaJOsuCevvOFhRPgrggsyWsUu0jjRuk4ZBwL6GgG6qfVWBxJHsnKvYSI1Bb8mbwsPvlZCblStDc32WMyAH7lZB3YCYZA0LOSNytUnlYLeW3FCkp8N4edYMAronv4mZCEshaol44bdimOdBbPPZCAzksWRiLLZAf0jsHarhIR
WHATSAPP_PHONE_NUMBER_ID=1239108392609616
WHATSAPP_VERIFY_TOKEN=mera_secret_verify_token_123

# OpenAI
OPENAI_API_KEY="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"
OPENAI_MODEL="llama-3.1-8b-instant"

# App Settings
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
LOG_LEVEL=INFO

# Business Info (AI system prompt mein use hoga)
BUSINESS_NAME=My Online Store
BUSINESS_DESCRIPTION=We sell quality products online in Pakistan
